<div class="col-xs-12">
    <a href="#/addItem" style="margin-bottom: 10px;" class="btn btn-primary btn-lg btn-block">
    <span class="glyphicon glyphicon-plus"></span>
    Add Grocery Item</a>
    <ul class="list-group">
        <li ng-repeat="item in groceryItems | orderBy: 'date'" class="list-group-item text-center clearfix">
            <span style="font-weight: bold">{{item.itemName | lowercase}}</span>
        </li>
    </ul>
</div>